<div class='app-hotels'>
    <div class='app-header'>
        <h2><a href="/">Hotels.com</a></h2>
        <h4>Your one stop destination for the Restaurants in South India</h4>
    </div>
    <div class='app-content'>
        {{outlet}}
    </div>
</div>

